#uptownname {
  position: absolute;
  top: 450px;
  left: 46.5%;
  font-size: x-large;
  color: white;
}

#uptown {
  text-align: center;
  position: absolute;
  top: 38%;
  left: 45%;
}

#midtownname {
  position: absolute;
  bottom: 50px;
  left: 46%;
  font-size: x-large;
  color: white;
}

#midtown {
  position: absolute;
  bottom: 0px;
  left: 45%;
}

#downtownname {
  position: absolute;
  bottom: -70px;
  left: 45.5%;
  font-size: x-large;
  color: white;
}

#downtown {
  position: absolute;
  bottom: -130px;
  left: 45.5%;
}

h1 {
  text-align: center;
}

a:hover {
  background-color: pink;
}

body {
  background-image: url("/Users/Ericdahan/Desktop/Project1/assets/Images/NYC.png");
  background-size: auto;
}

.jumbotron {
  background-image: url("/Users/Ericdahan/Desktop/Project1/assets/Images/View-Of-New-York-Brooklyn-Bridge-Nighht-Big-Bus-Tours.jpg");
  color: white;
  background-position: center;
  background-size: 100%;
}

p {
  text-align: center;
}

.button2 {
  background-color: #008cba;
}

.button3 {
  background-color: #008cba;
  position: relative;
  float: right;
}

.button4 {
  background-color: #008cba;
  position: relative;
  top: 400px;
}

.button5 {
  background-color: #008cba;
  position: relative;
  float: right;
  top: 400px;
  left: 250px;
}
